@media (max-width: 1200px){

}

@media (max-width: 991px) {
	.container {
		max-width: 991px;
	}
	.header {
		padding: 0 15px;
	}
	.promo__wrapper {
		align-items: center;
	}
	.advantages{
		&__wrapper{
			padding: 0 15px 0 15px;
		}
	}
	.consultation {
		padding-top: 140px;
	   .title{
			&_left{
				font-size: 30px;
				padding-left: 15px;
			}
	   	}
		&__descr {
			padding-left: 15px;
		}
		.feed-form {
			padding-left: 15px;
			margin-top: 40px;
			input {
				height: 40px;
			}
			.button_submit {
				height: 45px;
			}
		}
	}
	.carousel {
	   &__inner {
			width:650px;
			div {
				img {
					max-width:650px;
				}
			}
			.slick-dots{
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 10px;
					list-style-type: none;
					button {
						background-color: rgb(147, 147, 147);
						font-size: 0;
						width: 10px;
						height: 12px;
						border: none;
						border-radius: 100%;
						transition: .5s all;
					}
				}
				.slick-active {
					button {
						background-color: rgb(76, 76, 76);
					}
				}
			}
		}
	}
	.catalog{
		&__content {
			justify-content: space-around;
		}
	}
	.feed__item {
		padding-left: 15px;
	}
}


	
@media (max-width: 767px) {
	.container {
		max-width: 767px;
	}
	.header {
		&__phone {
			font-size: 16px;
		}
		&__official {
			display: none;
		}
	}
	.advantages {
		&__item {
			max-width: 180px;
		}
	}
	.carousel {
		&__inner {
			 width:525px;
			 div {
				 img {
					 max-width:525px;
				 }
			 }
		 }
	}
	.catalog {
		&__tab {
			width: 170px;
			height: 40px;
			line-height: 38px;
			font-size: 15px;
		}
	}
	.feed {
		.title {
			font-size: 24px;
		}
	}

}
	
@media (max-width: 575px) {
	.container {
		max-width: 575px;
	}
	.promo {
		.header{
			&__contacts {
				a{
					font-size: 13px;
				}
				button {
					width: 112px;
					font-size: 10px;
				}

			}
		}
		&__header {
			font-size: 30px;
		}
		&__subheader {
			margin-top: 10px;
			font-size: 16px;
		}
		&__icons {
			margin-top: 25px;
			justify-content: center;
			align-items: center;
		}
		&__icon {
			margin: 0 10px;
			width: 90px;
			font-size: 13px;
		}
		.button {
			&_main {
				margin-top: 80px;
				width: 250px;
				height: 40px;
				font-size: 14px;
			}
		}
		&__link {
			font-size: 13px;
		}
	}
	.title {
		font-size: 24px;
		&_left {
			font-size: 25px;
		}
	}
	.consultation {
		&_descr {
			font-size: 15px;
		}
	}
	.advantages {
		&__wrapper {
			margin-top: 65px;
			flex-wrap: wrap;
		}
		&__item {
			max-width: 100%;
		}
		&__subtitle {
			margin-top: 15px;
			font-size: 15px;
			font-weight: 700;
		}
		&__descr {
			margin-top: 16px;
			padding: 0 30px;
		}
	}

	.carousel {
		&__inner {
			padding: 0 20px;
			 width: 400px;
			 div {
				 img {
					 max-width: 400px;
				 }
			 }
		 }
	}
	.catalog{
		&__tab {
			width: 105px;
			height: 30px;
			line-height: 28px;
			font-size: 9px;
		}
		&__content {
			justify-content: center;
		}
	}
	.feed {
		padding-bottom: 71px;
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin-top: 60px;
		}
		&__img {
			display: block;
			width: 169px;
			height: 169px;
			margin: 0 auto;
		}
		&__text {
			margin-top: 15px;
		}
		&__subtitle {
			color: #0d0d0d;
			font-size: 15px;
			font-weight: 700;
		}
		&__count {
			color: #646464;
			font-size: 14px;
			font-weight: 500;
		}
		&__descr {
			color: #0d0d0d;
			font-size: 15px;
			font-weight: 300;
			margin-top: 10px;
		}
	}

}


